{%extends "base.html"%}
{%block content%}
<body>
    <h1>
        Услуги салона
    </h1>
    <table>
        <tr>
            <th>Название</th>
            <th>Цена</th>
        </tr>
        {%for service in services%}
        <tr>
            <td>{{service.name}}</td>
            <td>{{service.price}}</td>
        </tr>
        {%else%}
        <tr>
            <td>Услуг пока нет</td>
        </tr>
        {% endfor %}
    </table>
<h2>Добавить услугу</h2>
<form action="/services/add" method="post">
    <input type="text" name="name" placeholder="Название услуги" required>
    <input type="number" name="price" placeholder="Цена в рублях" required>
    <button type="submit">Добавить</button>
</form>
</body>
{%endblock%}
